<!-- display: flex; justify-content: center; align-items:center;flex-wrap: wrap;-->
<html>
  <body style=" margin:0 auto; max-width: 80%;">

    <mat-grid-list cols="4" rowHeight="3:1">

        <mat-grid-tile colspan="4" rowspan="6">
            <div class="mat-elevation-z8" style="background-color: #e6e6e6 ; width: 98%; height:95%; display:flex; flex-direction: column;">

                <div style="font-size: 15px; " >
                    <mat-form-field color="warn" appearance="standard" style=" margin-left:2%; width: 96%; font-size: 15px;">
                        <!-- <mat-label >Search</mat-label> -->
                        <input matInput (keyup)="hisCarSearch($event)" placeholder="Search" />
                    </mat-form-field>
                </div>


                <div class="example-container">
                    <table  mat-table matSort  matSortActive="element.id" [dataSource]="hisCarSource">

                        <ng-container matColumnDef="number_car">
                            <th  mat-header-cell *matHeaderCellDef mat-sort-header>Number Car</th>
                            <td  mat-cell *matCellDef="let element">{{ element.number_car }}</td>
                          </ng-container>
                  
                          <ng-container  matColumnDef="door">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Door</th>
                            <td  mat-cell *matCellDef="let element">{{ element.door }}</td>
                          </ng-container>
                  
                          <ng-container  matColumnDef="gateway">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Gateway</th>
                            <td mat-cell *matCellDef="let element">{{ element.gateway }}</td>
                          </ng-container>
                  
                          <ng-container  matColumnDef="datetime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                            <td mat-cell *matCellDef="let element">{{ element.datetime }}</td>
                          </ng-container>
                    
                        <!-- <ng-container matColumnDef="id">
                            <th  mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                            <td  mat-cell *matCellDef="let element">{{ element.id }}</td>
                        </ng-container>
                
                        <ng-container  matColumnDef="name">
                            <th  mat-header-cell *matHeaderCellDef mat-sort-header>First</th>
                            <td  mat-cell *matCellDef="let element">{{ element.name }}</td>
                        </ng-container>
                
                        <ng-container  matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Last Name</th>
                            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
                        </ng-container>
                
                        <ng-container  matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                        </ng-container>
                
                        <ng-container  matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                            <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
                        </ng-container>

                        <ng-container  matColumnDef="street">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Street</th>
                            <td mat-cell *matCellDef="let element">{{ element.address.street }}</td>
                        </ng-container>

                        <ng-container  matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                            <td mat-cell *matCellDef="let element">{{ element.address.city }}</td>
                        </ng-container> -->
                
                        <tr mat-header-row *matHeaderRowDef="hisCarColumns sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: hisCarColumns"></tr>
                    
                    </table>
                </div>
                <mat-paginator  mat-footer-row style="width: 100%; color:#ffffff; background-color: #f07b3f;" [pageSizeOptions]="[5, 10, 20]"   showFirstLastButtons></mat-paginator>
            </div>

        </mat-grid-tile>

    </mat-grid-list>

    <!-- <mat-card>
        <div *ngFor="let hc of _hisCar">
            <h2>{{hc.gateway}}</h2> 
            <div *ngIf="hc.gateway === OUTCAR">
                <h2>{{hc.gateway}}</h2>
    
            </div>

        </div>
    </mat-card> -->
    <!-- *ngIf="data.isActive === ActValue" -->
  </body>
</html>


        
    <!-- <div style="background-color: #ffffff; width: 100%; height: 20%; display: flex;">
        <mat-card style="background-color: #ffd460; width: 10%;height: 10%;">1</mat-card>
        <mat-card style="background-color: #f07b3f; width: 10%;height: 10%;">2</mat-card>
        <mat-card style="background-color: #52616b; width: 10%;height: 10%;">3</mat-card>
        <mat-card style="background-color: #c9d6df; width: 10%;height: 10%;">4</mat-card>
        <mat-card style="background-color: #1e2022; width: 10%;height: 10%;">5</mat-card>
        
        <mat-card style="background-color: #7ac7c4; width: 10%;height: 10%;">6</mat-card>
        <mat-card style="background-color: #384259; width: 10%;height: 10%;">7</mat-card>
        <mat-card style="background-color: #f73859; width: 10%;height: 10%;">8</mat-card>

        <mat-card style="background-color: #07689f; width: 10%;height: 10%;">9</mat-card>
        <mat-card style="background-color: #ff7e67; width: 10%;height: 10%;">10</mat-card>
        <mat-card style="background-color: #ff6f3c; width: 10%;height: 10%;">11</mat-card>
        
        <mat-card style="background-color: #574b90; width: 10%;height: 10%;">12</mat-card>
        <mat-card style="background-color: #9e579d; width: 10%;height: 10%;">13</mat-card>
        <mat-card style="background-color: #ff6f3c; width: 10%;height: 10%;">14</mat-card>
    </div> -->



        <!-- <mat-grid-tile style="background-color: #384259;" colspan="1" rowspan="7">
            <div style="width:95%; height: 95%; text-align: start; ">
                <mat-card style="background-color: #f07b3f;color:#ffffff;height:5%; font-size: 35px;text-align: center; ">ค้นหา</mat-card>
                <mat-card style="background-color:#e6e6e6 ; height:80%;">

                    <div style=" width: 100%;" >
                        <span >เลขทะเบียน : </span>
                        <mat-form-field color="warn" appearance="outline" >
                            <input id="lp" type="text" matInput placeholder="ตัวอย่าง. มน2563">
                        </mat-form-field >
                        <span >จังหวัด : </span>
                        <mat-form-field color="warn" appearance="outline">
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let province of provinces" [value]="province">{{province}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                            <span >ประเภทรถยนต์ : </span>
                            <mat-form-field color="warn" appearance="outline">
                                <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let typecar of typecars" [value]="typecar">{{typecar}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span >สี : </span>
                            <mat-form-field color="warn" appearance="outline">
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <span >วันที่ : </span>
                                <mat-form-field color="warn" appearance="outline">
                                <input matInput [matDatepicker]="picker" placeholder="ด/ว/ป">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <button id="clear"   mat-raised-button color="accent">Accent</button>
                                
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile> -->

