<html>
  <body class="list bg">
      

    <div style=" height:100%; width:100%; display:flex; background-color: #123168;">
        <ngx-spinner 
        bdColor="rgba(51,51,51,0.6)"
        size="medium"
        color="#f07b3f"
        type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color:#f07b3f">Loading...</p>
        </ngx-spinner>
        <div style=" height:100%; width:70%;"></div>
        <div style=" height:100%; width:30%; text-align: center; display:flex; align-items:center; justify-content:center; flex-direction: column;">
            
            <!-- <mat-card>
                <a routerLink="main">main</a><br>
                <a routerLink="history">history</a><br>
                <a routerLink="login">login</a>
            </mat-card> -->

            <mat-card class="mat-elevation-z8" style="background-color:rgba(255, 255, 255, 0.9); min-width:50%; min-height:30%; display:flex;  flex-direction: column; ">
                <!-- <div style="background-color: #a0f8a0;width:100%; height:90%; display:flex; align-items:center; justify-content:center;flex-direction: column;"> -->
                <!-- <mat-card-header style="background-color: #b2cbf7; "> -->
                    <div style=" width:100%; height: 20%; display:flex; align-items:center;justify-content:center; font-size: 2em;">
                        <span >Admin Login</span> 
                    </div>
                <!-- </mat-card-header> -->

                
                <div  style=" margin-top: 2%; width: 100%; height: 60%; display:flex; align-items: center; flex-direction:column; justify-content:center;">
                    <mat-form-field appearance="outline" color="warn" style="width: 85%; " >
                        <!-- <mat-icon matPrefix>person</mat-icon> -->
                        <mat-label style="padding-left: 5%;">Username</mat-label>
                        <input name="username" [(ngModel)]="mUsername" placeholder="Username" id="username" matInput  style="padding-left: 5%;">
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="warn" style="width: 85%;">
                        <!-- <mat-icon matPrefix>lock</mat-icon> -->
                        <mat-label style="padding-left: 5%;">Password</mat-label>
                        <input name="password" [(ngModel)]="mPassword" placeholder="Password" id="password" matInput type="password"  style="padding-left: 5%;">
                    </mat-form-field>
                        <!-- <button style="width: 30%;" type="submit" id="submit" (click)="postLoginStatus()" mat-raised-button color="primary" >Login</button> -->
                        <!-- <button style="width: 30%;"  (click)="loadingPage()" mat-raised-button color="warn" >POST</button> -->
                        <!-- <h2>{{data}}</h2> -->
                </div>
                <mat-card-actions>
                    <button style="width: 35%; height: 100%;" type="submit" id="submit" (click)="postLoginStatus()" mat-raised-button color="primary" >Login</button>
                    <!-- <button style="width: 35%; height: 100%;" type="submit" id="submit" (click)="loginAdmin()" mat-raised-button color="primary" >Login</button> -->
                </mat-card-actions>
                <!-- </div> -->
            </mat-card>
        </div>
    </div>

    

    <!-- <mat-grid-list cols="2" rowHeight="100%" style="background-color: #000000;">

        <mat-grid-tile style="background-color: #a0f8af;" colspan="1" rowspan="1">
            <span style="font-size:70%;">Admin Login</span> 
        </mat-grid-tile>

    </mat-grid-list> -->

    <!-- <mat-card  style="width: 40%; height: 60%; ">

        <div style="text-align: center; font-size: 200%;">
            <mat-grid-list cols="3" rowHeight="3:1" style="background-color: #000000;">

                <mat-grid-tile style="background-color: #a0f8af;" colspan="3" rowspan="1">
                    <span style="font-size:70%;">Admin Login</span> 
                </mat-grid-tile>
        
                <mat-grid-tile style="background-color: #a0cef8; " colspan="3" rowspan="7">

                        <form class="input-form" >
                            <div>
                                <mat-form-field appearance="fill" >
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-label style="padding-left: 5%;">Username</mat-label>
                                    <input name="username" [(ngModel)]="mUsername" matInput  style="padding-left: 5%;">
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="fill" >
                                    <mat-icon matPrefix>lock</mat-icon>
                                    <mat-label style="padding-left: 5%;">Password</mat-label>
                                    <input name="password" [(ngModel)]="mPassword" matInput type="password"  style="padding-left: 5%;">
                                </mat-form-field>
                            </div>
                           
                            <div>
                                <button type="submit" (click)="onClickLogin()" mat-raised-button color="primary" style="width: 50%; height: 20%;">Login</button>
                            </div> 

                        </form>

                </mat-grid-tile>
              </mat-grid-list>
        </div>

    </mat-card> -->
    

  </body>
</html>

<router-outlet></router-outlet>

