<html class="bg">
  <body class="list">
 
    <!-- ******************* Tab Groub ******************* -->
    <mat-tab-group  class=" mat-elevation-z8" style="background-color: #ffffff;" mat-align-tabs="start">
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Tab 1 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <mat-tab  label="ประตู 4" >

        <!-- -------------- Grid Group -------------- -->
        <mat-grid-list cols="4" rowHeight="5:1">

          <!-- Grid 1 -->
          <mat-grid-tile colspan="2" rowspan="1">
            <div style=" background-color: #8a8a8a; color:#ffffff; width: 98%; height: 100%; margin-top:2%; display:flex; align-items: center; justify-content: center; font-size:2.5em;">
              <p>ทางเข้า</p>

            </div>
          </mat-grid-tile>
          <!-- Grid 2 -->
          <mat-grid-tile  colspan="2" rowspan="1">
            <div style=" background-color: #f07b3f; color:#ffffff; width: 98%; height: 100%; margin-top:2%; display:flex; align-items: center; justify-content: center; font-size:2.5em;">
              <p>ทางออก</p>
            </div>
          </mat-grid-tile>

          <!-- Grid 3 -->
          <mat-grid-tile colspan="2" rowspan="5">
            <div  style=" background-color: #e6e6e6; width: 98%; height: 95%; display:flex; align-items: center; justify-content: center;">
              <!-- <video id="video" width="720" height="560" autoplay muted></video> -->
              <!-- <iframe style="width: 100%; height: 100%;" autoplay  [src]='safeURL' frameborder="0" allowfullscreen></iframe> -->
              <!-- <div style="width: 78%; height: 100%; background-color: darkgreen; display:flex; align-items: center; justify-content: center;"> -->
                <!-- <webcam [height]="450" [width]="598" ></webcam> -->
                <!-- <iframe class="iframe-vdo" scrolling="auto" style="background-color: darkblue;" autoplay  src="http://192.168.100.14:8080/video" frameborder="0" allowfullscreen="" ></iframe> -->
              <!-- </div> -->
              <!-- <video></video> -->
            </div>
          </mat-grid-tile>

          <!-- Grid 4 -->
          <mat-grid-tile colspan="2" rowspan="5">
            <div  style=" background-color: #ffdf89; width: 98%; height: 95%; display:flex; align-items: center; justify-content: center;">
              <!-- <iframe style="width: 100%; height: 100%;" [src]='safeURL2' frameborder="0" allowfullscreen></iframe> -->
              <!-- <div style="width: 78%; height: 100%; background-color: darkgreen;display:flex; align-items: center; justify-content: center;"> -->
                <!-- <iframe class="iframe-vdo" scrolling="auto" style="background-color: darkblue;" autoplay  src="http://192.168.100.14:8080/video" frameborder="0" allowfullscreen="" ></iframe> -->
                <!-- <webcam [height]="400" [width]="1000"></webcam>  -->
                <webcam [height]="500" [width]="600" [trigger]="triggerObservable"  *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions"
                [imageQuality]="1"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"
        ></webcam>
              <!-- </div> -->
            </div>
          </mat-grid-tile>

          <!-- Grid 5 -->
          <mat-grid-tile colspan="2" rowspan="6">
            <div  class=" mat-elevation-z8" style="background-color:#e6e6e6; height: 95%; width: 98%; display: flex;flex-direction: column;">

              <!-- <mat-form-field appearance="standard" style=" margin-left:10%; width: 80%; ">
                <mat-label >Search</mat-label>
                <input matInput autocomplete="off" (keyup)="door4InSearch($event)" placeholder="Search" />
              </mat-form-field> -->

              <div class="example-container" >

                <table style="background-color: #e6e6e6; "  mat-table matSort matSortActive="datetime" matSortDirection="desc" [dataSource]="door4InSource">
                  
                  <ng-container matColumnDef="img_car" >
                    <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef>ภาพรถยนต์</th>
                    <td mat-cell *matCellDef="let element" (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 90px; height: 70px; " [src]="element.img_car" /></td>
                  </ng-container>
          
                  <ng-container  matColumnDef="img_licenplate">
                    <th  style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >ป้ายทะเบียน</th>
                    <td mat-cell *matCellDef="let element"  (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 80px; height: 50px;" [src]="element.img_licenplate" /></td>
                  </ng-container>
          
                  <ng-container  matColumnDef="number_car">
                    <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >เลขทะเบียน</th>
                    <td mat-cell *matCellDef="let element">{{ element.number_car }}</td>
                  </ng-container>
          
                  <ng-container  matColumnDef="province">
                    <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef>จังหวัด</th>
                    <td mat-cell *matCellDef="let element">{{ element.province }}</td>
                  </ng-container>

                  <ng-container matColumnDef="type_car">
                    <th  style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >ประเภท</th>
                    <td  mat-cell *matCellDef="let element">{{ element.type_car }}</td>
                  </ng-container>
          
                  <ng-container  matColumnDef="color">
                    <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >สี</th>
                    <td  mat-cell *matCellDef="let element">{{ element.color }}</td>
                  </ng-container>
          
                  <ng-container  matColumnDef="datetime">
                    <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef>เวลา</th>
                    <!-- <td mat-cell *matCellDef="let element">{{ element.datetime }}</td> -->
                    <td mat-cell *matCellDef="let element">{{element.datetime | date:"yyyy-MM-dd | HH:mm น."}}</td>
                  </ng-container>
          
                  <tr mat-header-row *matHeaderRowDef="door4InColumns sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: door4InColumns"></tr>              
               
                </table>

                <div *ngIf="showSpinner" style=" width: 100%; height: 100%; display:flex; align-items: center; justify-content: center;">
                  <mat-progress-spinner [diameter]="50" mode="indeterminate" color="primary" style="size: 500px; " ></mat-progress-spinner>
              </div>
              </div>
              <mat-paginator #TableD4InPaginator="matPaginator"  [pageSizeOptions]="[10, 15, 20]" style="width: 100%;color:#ffffff; background-color: #8a8a8a;" mat-footer-row   showFirstLastButtons></mat-paginator>
            </div>
          </mat-grid-tile>

          

          <!-- Grid 6 -->
          <mat-grid-tile colspan="2" rowspan="6">
            <div  class=" mat-elevation-z8" style="background-color:#ffdf89; height: 95%; width: 98%; display: flex;flex-direction: column;">

              <!-- <mat-form-field appearance="standard" color="warn" style=" margin-left:10%; width: 80%; ">
                <mat-label >Search</mat-label>
                <input matInput autocomplete="off" (keyup)="door4OutSearch($event)" placeholder="Search" />
              </mat-form-field> -->

              <div class="example-container" >

                <table style="background-color: #ffdf89; "   mat-table [dataSource]="door4OutSource" matSort matSortActive="datetime" matSortDirection="desc">
                  
                  <ng-container matColumnDef="img_car">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef>ภาพรถยนต์</th>
                    <td mat-cell *matCellDef="let element"  (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 90px; height: 70px;" [src]="element.img_car" /></td>
                  </ng-container>
          
                  <ng-container  matColumnDef="img_licenplate">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >ป้ายทะเบียน</th>
                    <td mat-cell *matCellDef="let element"  (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 80px; height: 50px;" [src]="element.img_licenplate" /></td>
                  </ng-container>
          
                  <ng-container  matColumnDef="number_car">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >เลขทะเบียน</th>
                    <td mat-cell *matCellDef="let element">{{ element.number_car }}</td>
                  </ng-container>
          
                  <ng-container  matColumnDef="province">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef>จังหวัด</th>
                    <td mat-cell *matCellDef="let element">{{ element.province }}</td>
                  </ng-container>

                  <ng-container matColumnDef="type_car">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >ประเภท</th>
                    <td  mat-cell *matCellDef="let element">{{ element.type_car }}</td>
                  </ng-container>
          
                  <ng-container  matColumnDef="color">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >สี</th>
                    <td  mat-cell *matCellDef="let element">{{ element.color }}</td>
                  </ng-container>
          
                  <ng-container  matColumnDef="datetime">
                    <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef>เวลา</th>
                    <td mat-cell *matCellDef="let element">{{element.datetime | date:"yyyy-MM-dd | HH:mm น."}}</td>
                  </ng-container>
          
          
                  <tr mat-header-row *matHeaderRowDef="door4OutColumns sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: door4OutColumns"></tr>
                  
                </table>
                <div *ngIf="showSpinner" style=" width: 100%; height: 100%; display:flex; align-items: center; justify-content: center;">
                  <mat-progress-spinner [diameter]="50" mode="indeterminate" color="warn" style="size: 500px; " ></mat-progress-spinner>
              </div>
              </div>
            <mat-paginator #TableD4OutPaginator="matPaginator" mat-footer-row  style="width: 100%;color:#ffffff; background-color: #f07b3f;" [pageSizeOptions]="[10, 15, 20]"   showFirstLastButtons></mat-paginator>
            </div>
          </mat-grid-tile>




          
        </mat-grid-list>
        <!-- ---------------------------------------------- -->
    </mat-tab>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Tab 2 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
    <mat-tab label="ประตู 5">

      <!-- -------------- Grid Group -------------- -->
      <mat-grid-list cols="4" rowHeight="5:1">

        <!-- Grid 1 -->
        <mat-grid-tile colspan="2" rowspan="1">
          <div style=" background-color: #8a8a8a; color:#ffffff; width: 98%; height: 100%; display:flex; align-items: center; justify-content: center; font-size:2.5em;">
            <p>ทางเข้า</p>

          </div>
        </mat-grid-tile>
        <!-- Grid 2 -->
        <mat-grid-tile  colspan="2" rowspan="1">
          <div style=" background-color: #f07b3f; color:#ffffff; width: 98%; height: 100%; display:flex; align-items: center; justify-content: center; font-size:2.5em;">
            <p>ทางออก</p>
          </div>
        </mat-grid-tile>

        <!-- Grid 3 -->
        <mat-grid-tile colspan="2" rowspan="5">
          <div  style=" background-color: #e6e6e6; width: 98%; height: 95%; ">

          </div>
        </mat-grid-tile>
        <!-- Grid 4 -->
        <mat-grid-tile colspan="2" rowspan="5">
          <div  style=" background-color: #ffdf89; width: 98%; height: 95%; ">

          </div>
        </mat-grid-tile>

        <!-- Grid 5 -->
        <mat-grid-tile colspan="2" rowspan="6">
          <div  class=" mat-elevation-z8" style="background-color:#e6e6e6; height: 95%; width: 98%; display: flex;flex-direction: column;">

            <div class="example-container" >

              <table style="background-color: #e6e6e6; "   mat-table matSort matSortActive="element.id" [dataSource]="door5InSource">
                
                <ng-container matColumnDef="img_car">
                  <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef>ภาพรถยนต์</th>
                  <td mat-cell *matCellDef="let element"  (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 90px; height: 70px;" [src]="element.img_car" /></td>
                </ng-container>
        
                <ng-container  matColumnDef="img_licenplate">
                  <th  style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >ป้ายทะเบียน</th>
                  <td mat-cell *matCellDef="let element"  (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 80px; height: 50px;" [src]="element.img_licenplate" /></td>
                </ng-container>
        
                <ng-container  matColumnDef="number_car">
                  <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >เลขทะเบียน</th>
                  <td mat-cell *matCellDef="let element">{{ element.number_car }}</td>
                </ng-container>
        
                <ng-container  matColumnDef="province">
                  <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef>จังหวัด</th>
                  <td mat-cell *matCellDef="let element">{{ element.province }}</td>
                </ng-container>

                <ng-container matColumnDef="type_car">
                  <th  style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >ประเภท</th>
                  <td  mat-cell *matCellDef="let element">{{ element.type_car }}</td>
                </ng-container>
        
                <ng-container  matColumnDef="color">
                  <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef >สี</th>
                  <td  mat-cell *matCellDef="let element">{{ element.color }}</td>
                </ng-container>
        
                <ng-container  matColumnDef="datetime">
                  <th style="background-color: #8a8a8a;" mat-header-cell *matHeaderCellDef>เวลา</th>
                  <td mat-cell *matCellDef="let element">{{element.datetime | date:"yyyy-MM-dd | HH:mm น."}}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="door5InColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: door5InColumns"></tr>
                
              </table>

              <div *ngIf="showSpinner" style=" width: 100%; height: 100%; display:flex; align-items: center; justify-content: center;">
                <mat-progress-spinner [diameter]="50" mode="indeterminate" color="primary" style="size: 500px; " ></mat-progress-spinner>
            </div>

            </div>
            <mat-paginator #TableD5InPaginator="matPaginator" [pageSizeOptions]="[10, 15, 20]"   style="width: 100%;color:#ffffff; background-color: #8a8a8a;" mat-footer-row  showFirstLastButtons></mat-paginator>
          </div>
        </mat-grid-tile>

        <!-- Grid 6 -->
        <mat-grid-tile colspan="2" rowspan="6">
          <div  class=" mat-elevation-z8" style="background-color:#ffdf89; height: 95%; width: 98%; display: flex;flex-direction: column;">

            <!-- <mat-form-field appearance="standard" color="warn" style=" margin-left:10%; width: 80%; ">
              <mat-label >Search</mat-label>
              <input matInput autocomplete="off" (keyup)="door5OutSearch($event)" placeholder="Search" />
            </mat-form-field> -->

            <div class="example-container" >

              <table style="background-color: #ffdf89; "   mat-table matSort matSortActive="element.id" [dataSource]="door5OutSource">
                
                <ng-container matColumnDef="img_car">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef>ภาพรถยนต์</th>
                  <td mat-cell *matCellDef="let element"  (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 90px; height: 70px;" [src]="element.img_car" /></td>
                </ng-container>
        
                <ng-container  matColumnDef="img_licenplate">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >ป้ายทะเบียน</th>
                  <td mat-cell *matCellDef="let element" (click)="getImgID(element._id)" (click)="openDialog()"><img style="width: 80px; height: 50px;" [src]="element.img_licenplate" /></td>
                </ng-container>
        
                <ng-container  matColumnDef="number_car">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >เลขทะเบียน</th>
                  <td mat-cell *matCellDef="let element">{{ element.number_car }}</td>
                </ng-container>
        
                <ng-container  matColumnDef="province">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef>จังหวัด</th>
                  <td mat-cell *matCellDef="let element">{{ element.province }}</td>
                </ng-container>

                <ng-container matColumnDef="type_car">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >ประเภท</th>
                  <td  mat-cell *matCellDef="let element">{{ element.type_car }}</td>
                </ng-container>
        
                <ng-container  matColumnDef="color">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef >สี</th>
                  <td  mat-cell *matCellDef="let element">{{ element.color }}</td>
                </ng-container>
        
                <ng-container  matColumnDef="datetime">
                  <th style="background-color: #f07b3f;" mat-header-cell *matHeaderCellDef>เวลา</th>
                  <td mat-cell *matCellDef="let element">{{element.datetime | date:"yyyy-MM-dd | HH:mm น."}}</td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="door5OutColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: door5OutColumns"></tr>
                
              </table>

              <div *ngIf="showSpinner" style=" width: 100%; height: 100%; display:flex; align-items: center; justify-content: center;">
                <mat-progress-spinner [diameter]="50" mode="indeterminate" color="warn" style="size: 500px; " ></mat-progress-spinner>
            </div>

            </div>
          <mat-paginator #TableD5OutPaginator="matPaginator" mat-footer-row  style="width: 100%;color:#ffffff; background-color: #f07b3f;" [pageSizeOptions]="[10, 15, 20]"   showFirstLastButtons></mat-paginator>
          </div>
        </mat-grid-tile>




        
      </mat-grid-list>
    


    </mat-tab>

      
    
    </mat-tab-group>
    <!-- ****************************************************** -->

  </body>
</html>

