<html>
  <body *>

  </body>
</html>



    <!-- <p>main-dialog works555!</p>
    <p>Bassssss</p>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <mat-card>
      123456
    </mat-card>
    <h1 mat-dialog-title>Dialog with elements</h1>
    <div mat-dialog-content>
        This dialog showcases the title, close, content and actions elements.
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>

    <div *ngFor='let test of _door4In'>
      <mat-card>
        <h2>{{test.color}}</h2>
      </mat-card>
    </div> -->