<html>
  <body>
    <!-- font-size: 1.3em; font-weight: 400;  -->
    <!-- Door 4 IN -->
    <div *ngFor="let dialog of _door4In" style="color: #333333; width: 800px;  display:flex; align-items: center; justify-content: center; " >
      <div *ngIf="dialog._id==getidImg" style="display:flex; align-items: center; justify-content: center;">
        <img style="width: 500px; height: 400px; " [src]="dialog.img_car">
        <div style=" margin-left: 20px; display:flex; flex-direction: column;" >
          <img style="width: 200px; height: 100px; " [src]="dialog.img_licenplate">
          <p style="margin-bottom: 15px;"></p>
          <p>เลขทะเบียนรถ : <span >{{dialog.number_car}}</span></p>
          <p>ประเภท : <span >{{dialog.type_car}}</span></p>
          <p>จังหวัด : <span >{{dialog.province}}</span></p>
          <p>สี : <span >{{dialog.color}}</span></p>
          <p>ประตู : <span >{{dialog.door}}</span></p>
          <p>สถานะ : <span >{{dialog.gateway}}</span></p>
          <p>เวลา : <span >{{dialog.datetime | date:"yyyy-MM-dd | HH:mm น."}}</span></p>
        </div>
      </div>
    </div>

    <!-- Door 4 OUT -->
    <div *ngFor="let dialog of _door4Out" style="color: #333333; width: 800px;  display:flex; align-items: center; justify-content: center; " >
      <div *ngIf="dialog._id==getidImg" style="display:flex; align-items: center; justify-content: center;">
        <img style="width: 500px; height: 400px; " [src]="dialog.img_car">
        <div style=" margin-left: 20px; display:flex; flex-direction: column;" >
          <img style="width: 200px; height: 100px; " [src]="dialog.img_licenplate">
          <p style="margin-bottom: 15px;"></p>
          <p>เลขทะเบียนรถ : <span >{{dialog.number_car}}</span></p>
          <p>จังหวัด : <span >{{dialog.province}}</span></p>
          <p>ประเภท : <span >{{dialog.type_car}}</span></p>
          <p>สี : <span >{{dialog.color}}</span></p>
          <p>ประตู : <span >{{dialog.door}}</span></p>
          <p>สถานะ : <span >{{dialog.gateway}}</span></p>
          <p>เวลา : <span >{{dialog.datetime | date:"yyyy-MM-dd | HH:mm น."}}</span></p>
        </div>
      </div>
    </div>

    <!-- Door 5 IN -->
    <div *ngFor="let dialog of _door5In" style="color: #333333; width: 800px;  display:flex; align-items: center; justify-content: center; " >
      <div *ngIf="dialog._id==getidImg" style="display:flex; align-items: center; justify-content: center;">
        <img style="width: 500px; height: 400px; " [src]="dialog.img_car">
        <div style=" margin-left: 20px; display:flex; flex-direction: column;" >
          <img style="width: 200px; height: 100px; " [src]="dialog.img_licenplate">
          <p style="margin-bottom: 15px;"></p>
          <p>เลขทะเบียนรถ : <span >{{dialog.number_car}}</span></p>
          <p>จังหวัด : <span >{{dialog.province}}</span></p>
          <p>ประเภท : <span >{{dialog.type_car}}</span></p>
          <p>สี : <span >{{dialog.color}}</span></p>
          <p>ประตู : <span >{{dialog.door}}</span></p>
          <p>สถานะ : <span >{{dialog.gateway}}</span></p>
          <p>เวลา : <span >{{dialog.datetime | date:"yyyy-MM-dd | HH:mm น."}}</span></p>
        </div>
      </div>
    </div>

    <!-- Door 5 Out -->
    <div *ngFor="let dialog of _door5Out" style="color: #333333; width: 800px;  display:flex; align-items: center; justify-content: center; " >
      <div *ngIf="dialog._id==getidImg" style="display:flex; align-items: center; justify-content: center;">
        <img style="width: 500px; height: 400px; " [src]="dialog.img_car">
        <div style=" margin-left: 20px; display:flex; flex-direction: column;" >
          <img style="width: 200px; height: 100px; " [src]="dialog.img_licenplate">
          <p style="margin-bottom: 15px;"></p>
          <p>เลขทะเบียนรถ : <span >{{dialog.number_car}}</span></p>
          <p>จังหวัด : <span >{{dialog.province}}</span></p>
          <p>ประเภท : <span >{{dialog.type_car}}</span></p>
          <p>สี : <span >{{dialog.color}}</span></p>
          <p>ประตู : <span >{{dialog.door}}</span></p>
          <p>สถานะ : <span >{{dialog.gateway}}</span></p>
          <p>เวลา : <span >{{dialog.datetime | date:"yyyy-MM-dd | HH:mm น."}}</span></p>
        </div>
      </div>
    </div>

    <!-- History -->
    <div *ngFor="let dialog of _hisCar" style="color: #333333; width: 800px;  display:flex; align-items: center; justify-content: center; " >
      <div *ngIf="dialog._id==getidHis" style="display:flex; align-items: center; justify-content: center;">
      <img style="width: 500px; height: 400px; " [src]="dialog.img_car">
          <div style=" margin-left: 20px; display:flex; flex-direction: column;" >
              <img style="width: 200px; height: 100px; " [src]="dialog.img_licenplate">
              <p style="margin-bottom: 15px;"></p>
              <p>เลขทะเบียนรถ : <span >{{dialog.number_car}}</span></p>
              <p>ประเภท : <span >{{dialog.type_car}}</span></p>
              <p>จังหวัด : <span >{{dialog.province}}</span></p>
              <p>สี : <span >{{dialog.color}}</span></p>
              <p>ประตู : <span >{{dialog.door}}</span></p>
              <p>สถานะ : <span >{{dialog.gateway}}</span></p>
              <p>เวลา : <span >{{dialog.datetime | date:"yyyy-MM-dd | HH:mm น."}}</span></p>
          </div>
      </div>
  </div>

    <!-- <div *ngIf="buttonClose" style="text-align: end;">
      <button mat-button mat-dialog-close >Close</button>
    </div> -->
    <div *ngIf="showSpinner" style=" width: 100%; height: 100%; display:flex; align-items: center; justify-content: center;">
      <mat-progress-spinner [diameter]="50" mode="indeterminate" color="warn" style="size: 500px; " ></mat-progress-spinner>
    </div>

  </body>
</html>
